---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

.site-tag {
        font-size: 0.9rem;
        color: gray;
        display: inline-block;
        padding: 0.3em 0.9em;
        margin: 0 0.5em 0.5em 0;
        white-space: nowrap;
        background-color: #eee;
        border-radius: 3px;
}

.site-tag a {
        text-decoration: none;
}

.tag-number {
        font-size: 0.7rem;
}

.prose img {
        max-width: 100%;
        max-height: 900px; }
        @media (min-width: 52em) {
          .prose img {
            max-width: 100%;
            max-height: 650px; } }